In [2]:
import pandas as pd
data = pd.read_csv("netflix_titles_nov_2019.csv")
data.head()

,show_id,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,type
0,81193313,Chocolate,NaN,"Ha Ji-won, Yoon Kye-sang, Jang Seung-jo, Kang ...",South Korea,"November 30, 2019",2019,TV-14,1 Season,"International TV Shows, Korean TV Shows, Roman...",Brought together by meaningful meals in the pa...,TV Show
1,81197050,Guatemala: Heart of the Mayan World,"Luis Ara, Ignacio Jaunsolo",Christian Morales,NaN,"November 30, 2019",2019,TV-G,67 min,"Documentaries, International Movies","From Sierra de las Minas to Esquipulas, explor...",Movie
2,81213894,The Zoya Factor,Abhishek Sharma,"Sonam Kapoor, Dulquer Salmaan, Sanjay Kapoor, ...",India,"November 30, 2019",2019,TV-14,135 min,"Comedies, Dramas, International Movies",A goofy copywriter unwittingly convinces the I...,Movie
3,81082007,Atlantics,Mati Diop,"Mama Sane, Amadou Mbow, Ibrahima Traore, Nicol...","France, Senegal, Belgium","November 29, 2019",2019,TV-14,106 min,"Dramas, Independent Movies, International Movies","Arranged to marry a rich man, young Ada is cru...",Movie
4,80213643,Chip and Potato,NaN,"Abigail Oliver, Andrea Libman, Briana Buckmast...","Canada, United Kingdom",NaN,2019,TV-Y,2 Seasons,Kids' TV,"Lovable pug Chip starts kindergarten, makes ne...",TV Show

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5837 entries, 0 to 5836
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       5837 non-null   int64
 1   title         5837 non-null   object
 2   director      3936 non-null   object
 3   cast          5281 non-null   object
 4   country       5410 non-null   object
 5   date_added    5195 non-null   object
 6   release_year  5837 non-null   int64
 7   rating        5827 non-null   object
 8   duration      5837 non-null   object
 9   listed_in     5837 non-null   object
 10  description   5837 non-null   object
 11  type          5837 non-null   object
dtypes: int64(2), object(10)
memory usage: 547.3+ KB

In [4]:
data.isnull().sum()

show_id            0
title              0
director        1901
cast             556
country          427
date_added       642
release_year       0
rating            10
duration           0
listed_in          0
description        0
type               0
dtype: int64

In [16]:
df = pd.DataFrame(data,columns = ["show_id","title","description"])
df

,show_id,title,description
0,81193313,Chocolate,Brought together by meaningful meals in the pa...
1,81197050,Guatemala: Heart of the Mayan World,"From Sierra de las Minas to Esquipulas, explor..."
2,81213894,The Zoya Factor,A goofy copywriter unwittingly convinces the I...
3,81082007,Atlantics,"Arranged to marry a rich man, young Ada is cru..."
4,80213643,Chip and Potato,"Lovable pug Chip starts kindergarten, makes ne..."
...,...,...,...
5832,70141644,Mad Ron's Prevues from Hell,"This collection cherry-picks trailers, forgott..."
5833,70127998,Splatter,"After committing suicide, a washed-up rocker r..."
5834,70084180,Just Another Love Story,When he causes a car accident that leaves a yo...
5835,70157452,Dinner for Five,"In each episode, four celebrities join host Jo..."
5836,70053412,To and From New York,"While covering a story in New York City, a Sea..."

In [25]:
df.isnull().sum()

show_id        0
title          0
description    0
dtype: int64

In [23]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(max_features = 5837,stop_words = "english")

In [27]:
vector = cv.fit_transform(df["description"]).toarray()

In [106]:
vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [107]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vector)

In [127]:
def recommdation(name):
    value = df[df["title"] == name].index[0]
    dis = sorted(list(enumerate(similarity[value])), reverse=True,key = lambda vector:vector[1])
    for i in dis[1:8]:
        print(df.iloc[i[0]].title)
recommdation("Durarara!!")

Abdo Mota
Barfi!
One 2 Ka 4
Superman Returns
A Mission in an Old Movie
Christmas With A View
I Lost My Body

In [128]:
name = input("enter your fav movie and see your related movies")
print(recommdation(name))

enter your fav movie and see your related movies One 2 Ka 4

Lang Tong
The Jungle School
Sohni Mahiwal
Badha
Badalte Rishton Ki Dastaan
The Butterfly's Dream
CIA: Comrade in America
None